<?xml version="1.0"?>
<configuration>
<startup>
  
<supportedRuntime version="v2.0.50727" sku="Client"/></startup>
  <appSettings>
    <add key="Path" value="C:\Users\olabuschagne.OLAB-IT\Music\Carillon"/>
    <add key="Default_Output_Device" value="1"/>
    <add key="Volume" value="-500"/>
    <add key="PlayTimes" value="9:00;13:00;18:00"/>
    <add key="NumSongs" value="2"/>
  </appSettings>
</configuration>
